.row {
    padding: 10px;
    padding-bottom: 10px;
}
.col-6 {
    padding-bottom: 10px;
}
footer {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #343a40;
    color: #ffffff;
    font-size: 14px;
    line-height: 10px;
}


  #deck-list-1 {
      width: 300px;
      border: 1px solid rgba(235, 235, 235, 0.767);
      border-left: 4px solid;
      border-left-color: rgba(83, 83, 255, 0.685) ;
      margin-bottom: 20px;
  }

  #deck-list-2 {
    width: 300px;
    border: 1px solid rgba(235, 235, 235, 0.767);
    border-left: 4px solid;
    border-left-color: rgba(255, 0, 0, 0.801) ;
    margin-bottom: 20px;
   
}

#deck-list-3 {
    width: 300px;
    border: 1px solid rgba(235, 235, 235, 0.767);
    border-left: 4px solid;
    border-left-color: rgba(0, 255, 21, 0.589) ;
    margin-bottom: 20px;

}

#deck-list-4 {
    width: 300px;
    border: 1px solid rgba(235, 235, 235, 0.767);
    border-left: 4px solid;
    border-left-color: rgba(255, 83, 255, 0.205) ;
    margin-bottom: 20px;

}

#deckLink {
    color : black;
}
#newsLetter {
    color: white;
}

#Card-input {
    width: max-content;
}